# Dependency directories
node_modules/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Serverless directories
.serverless/

# visualsudio juttu ignoree..
testi.code-workspace